---
import { getCollection } from "astro:content";
import AuthorList from "@components/AuthorList"
import Wrapper from "@components/Wrapper"
import { getEntries } from "astro:content";

export async function getStaticPaths() {
	const blogEntries = await getCollection('articles') 
	return blogEntries.map((article) => {
		return {
			params: { article: article.slug},
			props: { article }
		};
	})
}

const { article } = Astro.props
const { Content } = await article.render()

const authors = await getEntries(article.data.authors)
---

<!-- <div class="text-center font-sans text-base basis-full leading-relaxed"> -->
<Wrapper title={article.data.title}>
	<div class="bg-white-50 border-x-4 border-t-4 border-p-blue pt-4 ">
		<div class="max-width flex flex-col font-sans text-5xl text-left px-20 space-y-1">
			<span class="">{article.data.title}</span><br>
			<span class="text-3xl"><AuthorList authors={authors} /></span><br>
			<span class="text-base">{article.data.date.toLocaleDateString('en-GB', {day: 'numeric', month: 'long', year: 'numeric'})}</span>
		</div>
	</div>
	<hr class="my-4 border-transparent">
	<div class="bg-white-50 px-20 border-x-4 border-b-4 pb-4 border-p-red ">
		<div class="max-width prose prose-lg
					prose-p:font-serif
					prose-headings:py-2" >
			<Content />
		</div>
	</div>
	<script>
		const paragraphs = document.querySelectorAll("p");
		[...paragraphs].map(p => p.setAttribute("data-aos", "fade-in"));
	</script>
</Wrapper>
