---
import { getCollection } from "astro:content";
import Banner from "@components/Banner";
import Wrapper from "@components/Wrapper";
import OuterBlock from "@components/OuterBlock";



export async function getStaticPaths() {
	const issueEntries = await getCollection('issues')
	return issueEntries.map((issue) => {
		return {
			params: { issue: issue.slug},
			props: { issue }
		};
	})
}

const { issue } = Astro.props
// const { Content } = await issue.render()
let articles = await getCollection('articles')
articles = articles.filter((a) => a.slug.split("/")[0].split("_")[1] == issue.slug);
articles = articles.sort((a, b) => a.data.order < b.data.order ? -1 : 1);

---


<Wrapper title="Disjunctions">
	<Banner entity={issue} />
	<div class="max-width flex flex-row flex-wrap justify-around items-stretch">
		{articles.map((i) => <OuterBlock article={i} />)}
	</div>
</Wrapper>
