@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  a {
    @apply text-p-blue hover:text-p-red transition duration-300;
  }
} */

@layer components {
  .default-hyper {
    @apply text-black hover:text-p-red transition duration-300;
  }
  .invert-hyper {
    @apply text-black group-hover:text-white hover:text-p-red transition duration-300;
  }
  .max-width {
    @apply max-w-7xl mx-auto
    /* @apply px-16 */
  }

  .hide-nav {
    max-height: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in;
  }

  .show-nav {
    max-height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    transition: max-height 0.15s ease-in;
  }
}