---
// import { published } from "@data/post"

import Wrapper from "@components/Wrapper";
const { frontmatter } = Astro.props;
---

<meta charset="utf-8">
<Wrapper title="Disjunctions" expand={true}>	
	<!-- <div class="flex flex-row mx-auto lg:mx-[15vw] items-center pt-16 w-full gap-x-12" data-aos="fade-in">
		<div class="text-center lg:text-left w-full flex flex-col">
			<div class="text-5xl lg:text-7xl font-bold mb-2">{frontmatter.title}</div>
		</div>
	</div> -->

	<div class="flex flex-col items-center font-serif">
		<div class="text-block resize-animate py-6"><slot /></div>
	</div>
</Wrapper>