---
// import { published } from "@data/post"

import Wrapper from "@components/Wrapper";
---

<meta charset="utf-8">
<Wrapper title="Fragments Magazine">
    <div class="flex flex-col space-y-2">
		<!-- <span class="font-sans text-5xl text-center mb-10">{frontmatter.title}</span> -->
		<div class="font-serif text-base leading-normal max-width prose"><slot /></div>
	</div>
	<hr class="mt-4">
</Wrapper>