---
// import { published } from "@data/post"

import Wrapper from "@components/Wrapper";
---

<meta charset="utf-8">
<Wrapper title="Disjunctions" expand={true}>
	<div class="flex flex-col items-center font-serif">
		<div class="text-block resize-animate py-6"><slot /></div>
	</div>
</Wrapper>