---
import { Astronav, MenuItems, MenuIcon, Dropdown, DropdownItems, DropdownSubmenu } from "astro-navbar";

const base_url = import.meta.env.BASE_URL

---
<header class="border-b-2 border-black font-serif">
	<div class="flex items-center py-4 sm:max-width px-4">
		<div class="flex w-full text-4xl">
			<a href=`${base_url}`><i>post</i>-machina</a>
		</div>

		<script>
			// JavaScript to toggle the mobile menu visibility
			const hamburger = document.getElementsByClassName('hamburger');
			const mobileMenu = document.getElementById('mobile-menu');
			const content = document.getElementById('content')
			
			Array.prototype.forEach.call(hamburger, function(b) {
				console.log(b);
				b.addEventListener('click', () => {
				mobileMenu.classList.toggle('hidden');
				content.classList.toggle('hidden');
				}
			)});
		</script>

		<div class="sm:hidden">
			<button class="hamburger" onclick="toggleMenu()">
				<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
				</svg>
			</button>
		</div>

		<ul class="hidden sm:flex space-x-4">
			<li><a href=`${base_url}/about` class="hover:text-p-red">About</a></li>
			<li><a href="#" class="hamburger hover:text-p-red">More</a></li>
		</ul>
	

	</div>
			<!-- Mobile Menu (Hidden by default) -->
	<ul id="mobile-menu" class="border-b-2 border-black hidden w-full h-full bg-white absolute top-16 space-y-4 py-4 px-6">
		<li><a href="#" class="block hover:text-gray-400">Home</a></li>
		<li><a href="#" class="block hover:text-gray-400">About</a></li>
		<li><a href="#" class="block hover:text-gray-400">Services</a></li>
		<li><a href="#" class="block hover:text-gray-400">Contact</a></li>
	</ul>


</header>

	<!-- <nav class="flex items-center justify-end font-serif text-base grow space-x-20">
		<span><a class="text-black" href=`${import.meta.env.BASE_URL}/about`>About</a></span>
	</nav> -->
<!-- </div> -->
