---

---
<!-- 
<div class="flex flex-wrap justify-center p-2">
	<span class="font-serif font-semibold text-4xl"><a class="text-white" href="/">Magazine</a></span>
</div>
<div class="flex flex-wrap space-x-40 justify-center p-2 mb-12">
	<span class="font-serif text-sm"><a class="text-white" href="/">Issues</a></span>
	<span class="font-serif text-sm"><a class="text-white" href="/">About</a></span>
</div> -->

<div class="flex flex-wrap justify-start py-4 mb-6 max-w-5xl mx-auto">
	<div class="font-serif font-semibold text-4xl grow">
		<a class="text-black" href="/">Magazine</a>
	</div>
	<nav class="flex items-center justify-end font-sans text-base grow space-x-20">
		<span><a class="text-black" href="/">Issues</a></span>
		<span><a class="text-black" href="/">About</a></span>
	</nav>
</div>
