---
	import '@fontsource/vesper-libre'
	import '@fontsource/inter'
	import '@fontsource/bitter'
	import '@fontsource/noto-serif-sc'
	import '@fontsource/barlow-semi-condensed'
	import '@fontsource/cabin-condensed'
	import '@fontsource/cabin'
	import '@fontsource/merriweather'
	import '@fontsource/libre-baskerville'
	import '@fontsource/roboto-serif'
	import '@fontsource/crimson-pro'
	import '@fontsource/alegreya'
	import '@fontsource/work-sans'
	import '@fontsource/ibm-plex-sans-condensed'
	import '@fontsource/montserrat'
	import '@fontsource/metropolis'
	import '@fontsource/lato'

	import '@fontsource/source-sans-pro/400.css'
	import '@fontsource/source-sans-pro/700.css'
	import '@fontsource/source-sans-pro/900.css'

	import 'aos/dist/aos.css'; 

	import BigHeader from "@components/BigHeader";
	import SmallHeader from "@components/SmallHeader";
  	import '../styles/global.css'
	// import "../style/base.css"

	const {title, expand} = Astro.props;
	const Header = expand ? BigHeader : SmallHeader
---
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>{title}</title>
</head>
<body class="selection:bg-p-blue selection:text-white">	
	<Header />
	<div id="page-content">
		<slot />
	</div>
	<script>
		// @ts-ignore
		import AOS from 'aos'; 
		AOS.init({once: true, offset:0}); 
	</script> 
</body>
</html>